<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.aula.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.AtividadePrincipal"
            android:label="@string/title_activity_atividade_principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".ui.AtividadeImagens"
            android:label="@string/title_activity_atividade_imagens" >
        </activity>
        <activity
            android:name=".ui.ActivityMostraImagem"
            android:label="@string/title_activity_activity_mostra_imagem" >
        </activity>
    </application>

</manifest>
